@import "tailwindcss";

@theme{
    --default-font-family: 'Helvetica', sans-serif;
    --color-bg: #fff;        /* Fondo principal */
    --color-text: #0b0b0b;      /* Texto */
    --color-text-muted: #9ca3af;/* Texto gris */
    --color-border: #2a2a2a;    /* Bordes */
    --color-accent: #2563eb;    /* Azul */
    --color-accent-hover: #1d4ed8;
}
