---
import LoginComponent from "../components/LoginPage.astro"
import "../styles/styles.css"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login | Claveo</title>
  </head>
  <body>
    <LoginComponent />
  </body>
</html>
