---
import "../styles/styles.css";
import PlanesPage from "../components/PlanesPage.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Planes | Claveo</title>
  </head>
  <body>
    <PlanesPage />
  </body>
</html>
